.flash-box
  .flash-box__logo
    グループを作成しました
.wrapper
  .chat-side
    .side-header
      .box
        %p.box__user-name i
        %ul.box__menu 
          %li.box__menu--new-group 
            %i.fa.fa-edit
          %li.box__menu--edit-user
            %i.fa.fa-cog
    .groups
      .group
        %p.group__group-name bj
        %p.group__latest-message まだメッセージがありません

  .chat-main
    .main-header
      .left-box
        %h3.group-name bj
        %ul.member-list
          Member：koji
          %li.member-list__member 
      .edit-btn Edit
    
    .messages
      .message{"data-message_id" => "4205"}
        .upper-info
          %p.upper-info__user ku
          %p.upper-info__date 2019/06/17(Mon) 11:47:46
        %p.message__text vg

    .form
      .input-box

        %input{name: "message", placeholder: "type a message", type: "text", class: "input-box__text"}
          =fa_icon 'picture-o', class: 'input-box__text--picture'
        .messagearea__btn  
        %input{value: "Send", name: "commit", type: "submit", class: "submit-btn"}