.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  background: #FFF;
}

.chat-main {
  width: calc(100vw - 300px);
  float: right;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}

.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
  overflow: scroll;
  margin: 0;
}

.groups {
  background-color: blue;
  height: calc(100vh - 100px);
  padding: 0 20px;
  .group {
    box-sizing: border-box;
    padding: 20px 0 40px;
    &__name {
      font-size: 15px;
    }
    &__message {
      font-size: 8px;
      margin-top: 5px;
    }
  }
}
  
  .member-list {
    font-size: 12px;
    padding: 0;
    display: block;
    color: #999999;
    &__member {
      margin: 0px;
      padding: 0;
      box-sizing: border-box;
      display: list-item;
      color: #999999;
      text-align: -webkit-match-parent;
    }
  }

.edit-btn {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin-top: 30px;
  border: solid 1px #38aef0;
  position: absolute;
  right: 40px;
  color: #38aef0;
}

.messages {
  background-color: #FAFAFA;
  box-sizing: border-box;
  padding: 46px 40px 0;
  height: calc(100vh - 100px - 90px);
  overflow: scroll;
  .message {
    .upper-message {
      display: flex;
      &__user-name {
        color: #434a54;
        font-size: 16px;
        font-weight: bold;
      }
      &__date {
        color: #999;
        font-size: 12px;
        padding-left: 10px;
      }
    }
    .lower-message {
      margin-top: 10px;
      &__content {
        color: #434a54;
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
  }
}

// .messages {
//   height: calc(100vh - 280px);
//   padding: 46px 40px;
//   background-color: #fafafa;
//   overflow: scroll;
// }

//   .message {
//   padding-bottom: 40px;
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   }

//   .upper-info {
//     display: flex;
//     margin-bottom: 10px;
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     display: flex;
//     &__user-name {
//       color: #434a54;
//       font-size: 16px;
//       font-weight: bold;
//       margin: 0;
//       padding: 0;
//     }
//     &__date {
//       color: #999999;
//       font-size: 12px;
//       margin-left: 10px;
//       margin: 0;
//       padding: 0;
//       margin: 0 20px;
//     }
//   }
  

  .message__text {
    color: #434a54;
    font-size: 14px;
    margin-bottom: 10px;
    margin: 0;
    padding: 0;
  }
  


  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
